@model WebApplication2.Models.SanPham

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Edit</h1>

<h4>SanPham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaSp" />
            <div class="form-group">
                <label asp-for="TenSp" class="control-label"></label>
                <input asp-for="TenSp" class="form-control" />
                <span asp-validation-for="TenSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDvt" class="control-label"></label>
                <select asp-for="IdDvt" class="form-control" asp-items="ViewBag.IdDvt"></select>
                <span asp-validation-for="IdDvt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDanhmuc" class="control-label"></label>
                <select asp-for="IdDanhmuc" class="form-control" asp-items="ViewBag.IdDanhmuc"></select>
                <span asp-validation-for="IdDanhmuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdHangsx" class="control-label"></label>
                <select asp-for="IdHangsx" class="form-control" asp-items="ViewBag.IdHangsx"></select>
                <span asp-validation-for="IdHangsx" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPhienban" class="control-label"></label>
                <select asp-for="IdPhienban" class="form-control" asp-items="ViewBag.IdPhienban"></select>
                <span asp-validation-for="IdPhienban" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdThoigianbaohanh" class="control-label"></label>
                <select asp-for="IdThoigianbaohanh" class="form-control" asp-items="ViewBag.IdThoigianbaohanh"></select>
                <span asp-validation-for="IdThoigianbaohanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

